// /*
// 1 New
// 2 Assigned
// 3 Resolved
// 4 Feedback
// 5 Closed
// */

$blue-ultralight: #d9edf7 !default;
$green-ultralight: #dff0d8 !default;
$red-ultralight: #f2dede !default;
$yellow-ultralight: #fbf8ca !default;
$gray-light: #e2e2e2 !default;

$issue-priority-style: (
    prio1: (
        background: $blue-ultralight,
        // color: inherit,
        // border: transparent
    ),
    prio2: (
        background: white,
        // color: inherit,
        // border: transparent
    ),
    prio3: (
        background: $green-ultralight,
        // color: inherit,
        // border: transparent
    ),
    prio4: (
        background: white,
        // color: inherit,
        // border: transparent
    ),
    prio5: (
        background: $yellow-ultralight,
        // color: inherit,
        // border: transparent
    ),
    prio6: (
        background: $red-ultralight,
        // color: inherit,
        // border: transparent
    ),
    prio7: (
        background: #ea003e,
        // color: white,
        // border: transparent
    ),
);

@mixin priority-style($index, $style) {
    $background: map-get($style, background);

    $color: none;
    @if map-has-key($style, color) {
        $color: map-get($style, color);
    }
    $border: $background;
    @if map-has-key($style, border) {
        $border: map-get($style, border);
    }

    tr.priority-#{$index} {
        &.odd {
            @if $color != none {
                color: $color;
            }
            background: $background;
        }

        &.even {
            @if $color != none {
                color: $color;
            }
            background: $background;
        }

        &:hover {
            background: darken($background, 5%);
        }

        &.odd td,
        &.even td {
            border-color: $border;
        }

        @if $color != none {
            a {
                color: $color;
            }
        }
    }
}

@for $i from 1 through 7 {
    $style: map-get($issue-priority-style, "prio#{$i}");
    @include priority-style($i, $style);
}

///* closed */
tr.odd.status-5,
table.list tbody tr.odd.status-5:hover {
}

tr.odd.status-5 {
    color: inherit;
    background: $gray-light;
}

tr.even.status-5,
table.list tbody tr.even.status-5:hover {
}

tr.even.status-5 {
    color: inherit;
    background: $gray-light;
}

tr.status-5 a {
    color: inherit;
}

tr.odd.status-5 td,
tr.even.status-5 td {
    border-color: $gray-light;
}

///* table design*/
tr.issue {
    border: 1px solid #eeeff3;
}

table.list {
    border-radius: 6px;
    overflow: hidden;
    height: 50px;
    border: 2px solid #eeeff3;
    border-spacing: 0;
    color: #6b7d94;
}

table.list th {
    color: #f5f6f7;
}

body.controller-dmsf table.list th {
    color: #6b7d94;
}

body.controller-dmsf table.list th > div {
    text-align: right;
}

table.list.issues th[title='Sort by "Assigned To"'],
table.list.issues th[title='Sort by "% Done"'] {
    width: 10%;
}

table.list.issues td {
    vertical-align: middle;
}

table.list.issues td.id {
    width: 35px;
}

table.list th {
    background-color: #6f7c93;
    text-align: center !important;
}

table.list th a {
    color: #f5f6f7;
}

table.list tbody tr:hover {
    transition: .5s;
}

table.list th.checkbox {
    width: 50px;
    text-align: inherit;
}

tr.issue td.done_ratio table.progress {
    width: 100% !important;
}

table.progress {
    width: 80% !important;
    border-radius: 2px;
    border-collapse: separate !important;
    overflow: hidden;
}

table.progress td.todo {
    height: 5px !important;
    border-right: 5px !important;
    background-color: #d8e3ea;
}

table.progress td.closed {
    height: 5px !important;
    border-right: 5px !important;
    background-color: #4cbac1;
}

table.progress {
    height: 5px !important;
    border-right: 5px !important;
}
