@import "prelude";

table.list td,
table.list th {
    height: 40px;
    vertical-align: middle;
    padding: 0 $std-half;
}

td.username,
td.firstname,
td.lastname,
td.email {
    text-align: center !important;
}
