$gray-light: #d4dbe3 !default;
$gray: #9e9e9e !default;
$gray-dark: #707070 !default;
$gray-darker: #555 !default;

$green: #b3cb00 !default;
$green-dark: #859900 !default;
$magenta-light: #e576ad !default;
$magenta: #E5007D !default;
$magenta-dark: #95004d !default;

$color-normal: $green !default;
$icon-color: $gray-dark!default;

$font-family-base: 'Lato', Helvetika, Calibri, Arial, sans-serif !default;
$input-font-family: Hack, Menlo, Courier, monospace !default;
$input-font-size: 14px !default;

$std-space: 20px !default;
$std-half: $std-space/2 !default;